{{>nav}}

<h1>Lista de Productos: Mercado Online</h1>

<form action="/productos" method="post">
    <input placeholder="Ingresar Nombre" type="text" name="Nombre">
    <input placeholder="Ingresar Precio" type="number" name="Precio">
    <input placeholder="Ingresar Stock" type="number" name="Stock">
    <button type="submit">Crear Producto</button>

</form>

{{#each listadoProductos}}

  <div class="row">
  <div class="card" style="width: 18rem;">
   <img src="" class="card-img-top" alt="">
   <div class="card-body">
    <h5 class="card-title">{{nombre}}</h5>
    <h6>Precio: {{precio}}</h6>
    <h6>Cantidad de Stock: {{stock}}</h6>
   <form action="productos?_method_DELETE" method="post">
        <button type="submit">Quitar</button>
   </form>
  </div>
 </div>
</div>


{{/each}}

